body.about {
  p.border {
    font-size: 26px;
  }

  .description {
    & {
      display: flex;
      flex-direction: column;
      gap: 40px
    }
    p {
      text-align: left;
      padding: 40px 80px 40px 80px;
    }
    > div {
      & {
        display: flex;
        flex-direction: row;
        gap: 40px
      }
      & > * {
        height: 100%;
        box-sizing: border-box;
      }
      &:first-of-type {
        & {
          height: 148px;
        }
        p {
          width: 500px;
        }
        .img {
          flex: 1;
          background-image: url("OLD_PEOPLE.jpeg");
          background-size: cover;
          background-position-y: -140px;
        }
      }
      &:last-of-type {
        & {
          height: 212px;
        }
        .img {
          flex: 1;
          background-image: url("MOUNTAIN.jpeg");
          background-size: cover;
        }
        p {
          width: 760px;
        }
      }
    }
  }

  .users {
    & {
      height: 460px;
      position: relative;
    }

    * {
      width: fit-content;
      position: absolute;
      background-color: white;
    }

    .border {
      padding: 40px 0 40px 0;
      width: 500px;
    }

    p:nth-child(1) {
      top: 0;
      left: 0;
    }
    p:nth-child(2) {
      top: 0;
      right: 0;
    }
    p:nth-child(3) {
      top: 180px;
      right: 0;
    }
    p:nth-child(4) {
      top: 180px;
      left: 0;
    }
    p:nth-child(5) {
      top: 100px;
      left: 420px;
    }
    p:nth-child(6) {
      top: 340px;
      right: 0;
    }
    p:nth-child(7) {
      top: 256px;
      right: 350px;
    }
    p:nth-child(8) {
      top: 340px;
      left: 0;
    }
  }

  .highlights {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }
    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 48px;
      width: 100%;
    }
  }
}
