body.plug {
  & {
    background-color: #00141F;
  }
  a, p, input, button, h1 {
    color: white;
    border-color: white;
  }
  .form {
    & {
      margin-top: 78px;
    }
    p {
      font-size: 26px;
      width: 320px;
    }
    input {
      width: 100%;
    }
    form > * {
      width: 100%;
    }
  }
}
