body.promo {
  & {
    background-color: #00141F;
  }
  a, p, input, h1 {
    color: white;
  }
  p.description {
    max-width: 600px;
    text-align: center;
  }
  .border {
    border-color: white;
  }
  .form > * {
    width: 100%;
  }
}
