.block.full-width
	%header
		= render partial: 'blocks/logo', locals: { theme: :light }
		= render partial: 'blocks/nav', locals: { theme: :light, active: 'о проекте', items: [['промо', '/promo'], ['о проекте', '/about'], ['telegram', 'https://t.me/digitalroam'], ['vk', 'https://vk.com/club223209277']] }
