%header
	= render partial: 'blocks/logo', locals: { theme: :light }
	= render partial: 'blocks/nav', locals: { theme: :light, active: 'о проекте', items: [['промо', '/promo'], ['о проекте', ''], ['telegram', ''], ['vk', '']] }
