= render partial: 'blocks/header'

.container.tight
	%h1.l Что такое Roam?
	.description.full-width
		%div
			%p.border медиа-платформа для диджитал кочевников
			.img.border
		%div
			.img.border
			%p.border обширное хранилище структурированной информации о местах и направлениях, куда цифровым кочевникам нашей страны можно держать курс

.container.tight
	%h1.l Из чего состоит Roam?
	= image_tag 'BLOCK_2.svg', class: 'full-width'

.container.tight
	%h1.l Для кого Roam?
	= image_tag 'BLOCK_3.svg', class: 'full-width'

= render partial: 'blocks/footer'
