= render partial: 'blocks/header'

.container.tight
	%h1.l Что такое Roam?
	.description.full-width
		%div
			%p.border медиа-платформа для диджитал кочевников
			.img.border
		%div
			.img.border
			%p.border обширное хранилище структурированной информации о местах и направлениях, куда цифровым кочевникам нашей страны можно держать курс

.container.tight
	%h1.l Из чего состоит Roam?
	= image_tag 'BLOCK_2.svg', class: 'full-width'

.container.tight
	%h1.l Для кого Roam?
	.users.full-width
		%p.border диджитал кочевники
		%p.border культурные энтузиасты
		%p.border студенты
		%p.border языковые энтузиасты
		%p.border предприниматели
		%p.border путешественники
		%p.border фрилансеры
		%p.border исследователи

= render partial: 'blocks/footer'
