.nav {
  & {
    display: flex;
    flex-direction: row;
  }

  a {
    & {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 182px;
      height: 43px;
      margin-left: -1px;
      background-image: url("CELL_LR.svg");
      background-size: cover;
      font-size: 18px;
    }
    &.active::after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      width: 90%;
      height: 80%;
      border: 1px solid black;
      border-radius: 40px;
    }
    &:last-of-type, &:first-of-type {
      & {
        width: 177px;
      }
      &::after {
        margin-left: -4px;
      }
    }
    &:last-of-type {
      & {
        rotate: 180deg;
        background-image: url("CELL_L.svg");
      }
      p {
        rotate: -180deg;
      }
    }
    &:first-of-type {
      background-image: url("CELL_L.svg");
    }
    p {
      color: black !important;
    }
  }
}
