= render_block 'blocks/logo', locals: { theme: :dark, show_subtitle: true }

.container.form.tight
	%p.l Оставайтесь на связи, мы скоро запустимся!
	%form.container.tight#default-form{action: 'https://formspree.io/f/xjvqlqke', method: 'POST'}
		%input.border.small{type: 'email', name: 'email', placeholder: 'e-mail', required: true}
		%button.border#form-status{type: 'submit'} подписаться на рассылку
